body {
    background-image: url("back.jpg");
}

#app {
    font-size: 59px;
}

#header {
    position: fixed;
    width: inherit;
    height: 100px;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-weight: bold;
}

#link-btn-container {
    position: relative;
    height: 500px;
    margin-top: 100px;
    /*display: flex;*/
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 190px;
}

#interface {
    background-image: url("frame.png");
    width: 1020px;
    height: 870px;
    margin: 0 auto;
}

#simp {
    background-image: url("simp.jpg");
    width: 630px;
    height: 443px;
    margin: 0 auto;
    padding-top: 30px;
}

.timer {
    margin: 10px;
}

.start {
    height: 35px;
    width: 197px;
    font-size: 17px;
    background-color: #164D51;
    border-radius: 4px;
}

#game {
    padding: 30px;
}

#game button {
    float: left;
}
